<div class="container">
  <div class="product-div">
    <div class="product-div-left">
      <div class="img-container">
        <img [src]="detail.thumbnail" style="width: 100%" alt="watch" />
      </div>
      <div class="hover-container" style="display: flex">
        <div>
          <img
            [src]="detail.thumbnail"
            style="width: 100px; background-size: cover"
          />
        </div>
        <div><img [src]="detail.thumbnail" style="width: 100px" /></div>
        <div><img [src]="detail.thumbnail" style="width: 100px" /></div>
      </div>
    </div>
    <div class="product-div-right">
      <span class="product-name">{{ detail.title }}</span>
      <span
        class="product-brand"
        style="color: #777; font-size: 25px; margin-top: 0; padding-top: 0"
      >
        {{ detail.brand }}</span
      >
      <span class="product-price">{{ detail.price }}$</span>
      @if ( detail.stock !== 0) {
      <span class="badge text-bg-success">In Stock</span>
      }@else if(detail.stock == 0){
      <span class="badge text-bg-Danger">Out of Stock</span>
      }
      <div class="product-rating">
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star-half-alt"></i></span>
        <span>(350 ratings)</span>
      </div>
      <p class="product-description">
        {{ detail.description }}
      </p>
      <div class="btn-groups">
        <button type="button" class="add-cart-btn">
          <i class="fas fa-shopping-cart"></i>add to cart
        </button>
        <button type="button" class="buy-now-btn">
          <i class="fas fa-wallet"></i>buy now
        </button>
      </div>
    </div>
  </div>
</div>
