<div
  class="container bg-light p-5"
  style="margin: 30px auto 50px auto; width: 70%; border-radius: 20px"
>
  <h4 class="text-center mb-4">Login Here</h4>
  <div class="form-floating mb-3 w-50 mx-auto">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating mb-3 w-50 mx-auto">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating w-50 mx-auto">
    <input
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
    />
    <label for="floatingPassword">Password</label>
  </div>
  <div class="col-1 mx-auto" style="margin-top: 25px">
    <button class="btn btn-primary px-3" type="submit">Login</button>
  </div>
</div>
